PUBLIC_SANITY_PROJECT_ID=your_project_id
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_VISUAL_EDITING_ENABLED=false
RESEND_API_KEY=your_resend_api_key
MAIL_FROM=Slam Poetry <no-reply@slampoetry.hu>
CONTACT_EMAIL=contest@slampoetry.hu
YOUTUBE_API_KEY=your_youtube_data_api_key
YOUTUBE_CHANNEL_ID=
YOUTUBE_CHANNEL_HANDLE=@slampoetry
